<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <script src="../Controllers/ranking.mjs"></script>
    <link rel="stylesheet" href="/assets/views/styles/ranking.css">
</head>
<body>
    <div class="logo-container">
      <a href="./home.html">
          <img src="../img/game-logo.png" alt="Logo Home" class="logo">
      </a>
  </div>
    <h1 class="tittle">MORCILLA WARCRAFT</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Puesto</th>
            <th scope="col">Nickname</th>
            <th scope="col">Puntaje</th>
            <th scope="col">Pais</th>
          </tr>
        </thead>
        <tbody id="rank">
        </tbody>
      </table>
</body>
</html>