@font-face {
    font-family: 'nj-display'; /*a name to be used later*/
    src: url("./../../fonts/NJ-display.ttf"); /*URL to font*/
}

:root {
    --color-dark: #092635;
    --color-deep: #1B4242;
    --color-soft: #5C8374;
    --color-light: #9EC8B9;
    --color-highlight: #5e74bd;
}

/* Estilos generales */
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: var(--color-dark);
    max-height: 100vh;
}

.container-fluid {
    height: 90vh;
}

.boards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px)
{
    .boards-container {
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }
}

.overlay {
    background-color: #0000006e;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-family: "nj-display";
    padding: 40px;
    text-align: center;
}

.overlay.unabled {
    opacity: 0;
    color: transparent;
    background-color: transparent;
    pointer-events: none;
}

#win-message {
    text-align: center;
}

#weather, #turnIndicator{
    color: var(--color-light);
}