/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container-fluid {
    height: 90vh;
}

.map {
    display: grid;
    gap: 2px;
    border: 2px solid #000;
    width: 100%; 
    aspect-ratio: 1; 
}


#botMap {
    width: 80vw;
    height: 80vw; 
    max-width: 500px; 
    max-height: 500px;
}

#userMap {
    width: 60vw;
    height: 60vw; 
    max-width: 300px; /* Límite máximo para pantallas grandes */
    max-height: 300px;
}

.cell {
    width: 100%; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
    font-weight: bold;
    border: 1px solid #ccc;
}

.cell.a { background-color: #d0e6f7; } /* Celdas de agua */
.cell.b { background-color: #ffcccb; } /* Celdas atacadas */
.cell.p1 { background-color: #1d4f91; } /* Celdas con barcos */
.cell.p1-h { background-color: #ff4040; } /* Celdas con barcos dañados */

/* Esquinas redondeadas para barcos */
.cell.piece.vertical.start {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.cell.piece.vertical.end {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.cell.piece.horizontal.start {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.cell.piece.horizontal.end {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

@media (max-width: 768px) {
    #botMap, #userMap {
        width: 90vw;
        height: 90vw; 
    }

    .cell {
        font-size: 10px; 
    }
}