.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    display: grid;
    gap: 2px;
    border: 2px solid #000;
    margin: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
}

.cell.a {
    background-color: #d0e6f7;
}

.cell.b {
    background-color: #ffcccb;
}

.cell.p1 {
    background-color: #1d4f91;
}

.cell.p1-h {
    background-color: #ff4040; 
}





.cell.piece.vertical.start {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.cell.piece.vertical.end {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.cell.piece.horizontal.start {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.cell.piece.horizontal.end {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#buttonDirection.horizontal {
    background-color: #4caf50; 
}

#buttonDirection.vertical {
    background-color: #2196f3; 
}

#buttonDirection::before {
    content: "→"; 
    font-size: 20px;
    margin-right: 10px;
}

#buttonDirection.vertical::before {
    content: "↓"; 
}

