:root {
    --color-dark: #092635;
    --color-deep: #1B4242;
    --color-soft: #5C8374;
    --color-light: #9EC8B9;
    --color-highlight: #5e74bd;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-dark) !important;
}

.title {
    font-weight: bolder;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userMap {
    display: grid;
    margin: 10px;
    width: 100%; 
    max-width: 400px; 
    aspect-ratio: 1; 
    background-color: #d0e6f7;
    -webkit-box-shadow: 0px 7px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 23px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 23px -9px rgba(0,0,0,0.75);
}

.cell {
    width: 100%; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
    font-weight: bold;
}

#usersMap:nth-child(even) {
    background-color: #000 !important;
}

@media (max-width: 768px) {
    #userMap {
        max-width: 350px; 
    }

    .cell {
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {
    #userMap {
        max-width: 300px; 
    }

    .cell {
        font-size: 0.8rem;
    }
}

.cell.a.even-cell {
    background-color: #d0e6f7;
}

.cell.a.odd-cell {
    background-color: #a3d7ff;
}

.cell.b {
    background-color: #ffcccb;
}

.cell.p1 {
    background-color: #1d4f91;
}

.cell.p1-h {
    background-color: #ff4040; 
}


.cell.piece.vertical.start {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.cell.piece.vertical.end {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.cell.piece.horizontal.start {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.cell.piece.horizontal.end {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#buttonDirection.horizontal {
    background-color: #4caf50; 
}

#buttonDirection.vertical {
    background-color: #2196f3; 
}

#buttonDirection::before {
    content: "→"; 
    font-size: 20px;
    margin-right: 10px;
}

#buttonDirection.vertical::before {
    content: "↓"; 
}

